<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	
	<!-- File to tie all the Spring xml files  -->
	
	<!-- Database Configuration -->
	<import resource="tk/ebalsa/resources/config/spring/DataSource.xml"/>
	<import resource="tk/ebalsa/resources/config/spring/HibernateSessionFactory.xml"/>
 
	<!-- Beans Declaration -->
	<import resource="tk/ebalsa/resources/config/spring/BookBean.xml"/>
 
</beans>